// Place all the styles related to the candidates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#candidate_party_id {
    display: block;
    width: 300px;
    height: 60px;
    margin: auto;
    font-size: 16px;
}